/* You can add global styles to this file, and also import other style files */
body {
    height: 100vh;
}
.with-icon {
    display: flex;
    align-items: center;
}
.colorOne-icon {
    color: #3498DB  ;
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(100, 77, 230, 0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
}

hide{
    display: none;
}

mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: intalic;
}

.search-div{
    margin: 10px;
}

snack-bar-container.success {
    background-color: #5cb85c;
    color : #fff;
  }

  snack-bar-container.warn {
    background-color: #f99157;
    color : #fff;
  }

form.normal-form{
    margin: 10px;
}
.controles-container{
    width: 100%;
    padding: 5%
}
.controles-container > *{
    width: 100%;
}

.add-bottom-padding{
    padding-bottom: 10px
}
mat-radio-group mat-radio-button{
    margin-left: 5px;
}
.button-row button{
    margin: 5px;
}
.left-icon {
    margin: 5px;
}